[submodule "src/Renderers/MonogameXNA-Renderer"]
	path = src/Renderers/MonogameXNA-Renderer
	url = https://github.com/RetroMole/MonogameXNA-Renderer.git
[submodule "src/Asar/asar"]
	path = src/Asar/asar
	url = https://github.com/RetroMole/asar.git
[submodule "src/GameModules/SMB1-SMB2LL-GameModule"]
	path = src/GameModules/SMB1-SMB2LL-GameModule
	url = https://github.com/RetroMole/SMB1-SMB2LL-GameModule.git
[submodule "src/Plugins/LibretroEmu-Plugin"]
	path = src/Plugins/LibretroEmu-Plugin
	url = https://github.com/RetroMole/LibretroEmu-Plugin.git
