[submodule "submodules/asar"]
	path = submodules/asar
	url = https://github.com/RetroMole/asar.git
[submodule "submodules/ImGui.NET"]
	path = submodules/ImGui.NET
	url = https://github.com/RetroMole/ImGui.NET.git
[submodule "submodules/imgui-node-editor"]
	path = submodules/imgui-node-editor
	url = https://github.com/RetroMole/imgui-node-editor.git
