<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MOLE_Back.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <MOLE_Back.Properties.Settings>
            <setting name="UPDATE_Asar" serializeAs="String">
                <value>release</value>
            </setting>
            <setting name="UPDATE_MOLE" serializeAs="String">
                <value>release</value>
            </setting>
            <setting name="UPDATE_LunarCompress" serializeAs="String">
                <value>False</value>
            </setting>
        </MOLE_Back.Properties.Settings>
    </userSettings>
</configuration>
